.sidebar
  .user__info
    .user__info__name
      %p #{current_user.name}   
    .user__info__icon
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path do
        %i.fa.fa-cog    
    .group
      -@groups.each do |group|
        = link_to group_messages_path(group), class: "sidebar__group__info" do
          %p.group__info-name  
            #{group.name}
          -if group.messages.last.body.present?
            %p.group__info-messages 
              = group.messages.last.body
          -elsif group.messages.last.image.present?
            %p.group__info-messages 
              最新の投稿は画像です。
          -else 
            %p.group__info-messages 
              まだメッセージはありません。