= render partial: "sidebar"

.chat
  .chat__group
    .chat__group__info
      %p.chat__group__info-name
        =@group.name
      %p.chat__group__info-member 
        member:
        - @group.users.each do |user|
          =user.name
    .chat__group__edit
      = link_to 'Edit', edit_group_path(@group), class: 'chat__group__edit__btn'

  .chat__messages
 
    = render partial: "message"

  .chat__form
    =form_for [@group, @message], html: {id: "new_message"} do |f|
      = f.text_field :body, placeholder: "type a message", class: 'chat__form__message'
      = f.label :image, class: 'chat__form__icon' do
        %i.icon-btn.fa.fa-picture-o
        = f.file_field :image, class: 'chat__form__icon__filed'
      = f.button "Send" , class: 'button'
